# Create a project on Google's developer console, enable the YouTube API and create a key
# https://console.cloud.google.com/
YOUTUBE_API_KEY=""

# Copy the environment variables from Upstash
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
